.card {
  width: 25rem;
  height: auto;
  margin-bottom: 2rem;
}

.card img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 375px) {
  .card {
    width: 22rem;
  }
}

@media (max-width: 320px) {
  .card {
    width: 18rem;
  }

  .card img {
    height: auto;
  }
}
