.fondoLanding {
  background-image: url("../assets/fondoLanding.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fondoLanding h1 {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 425px) {
  .fondoLanding h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .fondoLanding h1 {
    font-size: 3rem;
  }
}
